//
// Colors
//

// General
$primary: #5d78ff;
$secondary: #282f49;
// Text
$headings-color: #282f49;
$body-color: #000000; //2b2d42; //;00296B

//
// Typography
//

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,400;1,700&family=Roboto+Mono&display=swap');
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Noto Serif', serif;
$headings-font-weight: 700;
$font-mono: 'Roboto Mono', monospace;

// Size
$font-size-base: 1.125rem;
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
